Package: com.nito.tvcontrolcenter
Name: TVControlCenter
Depends: mobilesubstrate
Version: 1.1
Architecture: appletvos-arm64
Description: Load your own control center bundles!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
