Package: com.nito.tvcontrolcenter
Name: TVControlCenter
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.2
Architecture: appletvos-arm64
Description: Load your own control center bundles!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
Depiction: https://nitosoft.com/ATV4/tvcontrol/tvcontrol.json
