Package: com.nito.tvcontrolservice
Name: TVControlService
Depends:
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome XPC service!
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: System
